@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    注册  <small><a href="@routes.LogIn.form">已有账号</a></small>
}

@register(title, nav = "signup") {

    @helper.form(action = routes.SignUp.submit) {

        <fieldset>
            <legend>新用户注册</legend>

            @inputText(
                signupForm("username"),
                '_label -> "用户名",          //名字
                '_help -> "请输入您要注册的用户名.",
                '_error -> signupForm.globalError
            )

            @inputText(
                signupForm("email"),
                '_label -> "邮箱",
                '_help -> "请输入您的邮箱号."
            )

            @inputPassword(
                signupForm("password.main"),
                '_label -> "登陆密码",
                '_help -> "密码至少为6个字符. "
            )

            @inputPassword(
                signupForm("password.confirm"),
                '_label -> "确认密码",
                '_help -> "请再次输入密码.",
                '_error -> signupForm.error("password")
            )

        </fieldset>

        <fieldset>

            <legend>个人信息</legend>

            @select(
                signupForm("profile.sex"),
                options = options(Sex.list),
                '_default -> "--- 请选择您的性别 ---",
                '_label -> "性别",
                '_help -> "0-男 1-女.",
                '_error -> signupForm("profile.sex").error.map(_.withMessage("请选择您的性别"))
            )

            @inputText(
                signupForm("profile.telephone"),
                '_label -> "手机号码",
                'cols -> 15
            )

            @inputText(
                signupForm("profile.age"),
                '_label -> "年龄", 'class -> "mini",
                '_showConstraints -> false
            )

        </fieldset>

        <fieldset>

        @checkbox(
            signupForm("accept"),
            '_label -> None, '_text -> "我已阅读并同意条款",
            '_showConstraints -> false
        )

        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Sign Up">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>

    }

}