@(loginForm: Form[Login], trueOrfalse: Boolean)

@import helper._
@import helper.twitterBootstrap._

@title = {
    登陆  <small><a href="@routes.SignUp.form">还没有账号</a></small>
}

@register(title, nav = "login") {

    @helper.form(action = routes.LogIn.submits) {

        <fieldset>
            <legend>用户信息</legend>

            @inputText(
                loginForm("username"),
                '_label -> "用户名",          //名字
                '_help -> "请输入您的用户名.",
                '_error -> loginForm.globalError
            )

            @inputPassword(
                loginForm("password"),
                '_label -> "密码",
                '_help -> "请输入您的密码. "
            )
            <p id="p-check"></p>
        </fieldset>

        <script>
            if(@trueOrfalse == false) {
                var p = document.getElementById('p-check');
                p.innerHTML = '用户名或密码错误';
            }
        </script>
        <div class="actions">
            <input type="submit" class="btn primary" value="Login">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>

    }

}